<!-- Header -->
<div id="header-wrapper">
  <div id="header" class="container">
  
  <!-- Logo -->
  	<h1 id="logo"><a href="index.html">May Flower</a></h1>
  
  <!-- Nav -->
  	<nav id="nav">
  		<ul>
  			<li>
  				<a href="#">May Flower</a>
					<ul>
						<li><a href="#">May Flower 소개</a></li>
						<li><a href="/posts/bouquet">꽃다발</a></li>
						<li><a href="/posts/flowerbasket">꽃바구니</a></li>
						<li><a href="/posts/flowerpot">화분</a></li>
						<li><a href="/posts/floweretc">기타</a></li>
					</ul>
  			</li>
  			<li><a href="left-sidebar.html">My Page</a></li>
  			<li class="break"><a href="right-sidebar.html">Log In</a></li>
  			<li><a href="no-sidebar.html">Sign Up</a></li>
  		</ul>
  	</nav>
  </div>

<!-- Hero -->
  <section id="hero" class="container">
  	<header>
  		<h2>사랑하는 사람에게 선물하는 꽃 한송이
  		<br />
  		그것은 사랑입니다.</h2>
  	</header>
  	<p>OPEN - 10:00 am / CLOSE - 10:00 pm</p>
  	<!--<ul class="actions">-->
  	<!--	<li><a href="#" class="button">Get this party started</a></li>-->
  	<!--</ul>-->
  </section>
</div>

<!-- Features 1 -->
<div class="wrapper">
  <div class="container">
    <div class="row">
      <!-- posts의 모든 게시물을 가져온 후 -->
      <% @posts.each do |post| %>
      <!-- flowertype가 flowerpot 값을 가지고 있는 게시물만 검사하여 보여주기.-->
      <% if post.flowertype == 'flowerpot' %>
        <section class="6u 12u(narrower) feature" style="width: 50%">
          <div class="image-wrapper first">
          <a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
          </div>
          <header>
            <h2><%= post.title %></h2>
            </header>
            <p><%= post.content %></p>
            <ul class="actions">
              <li><%= button_to 'Show', post, method: :get %></li>
            </ul>
        </section>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<!-- Scripts -->
<!-- Scripts -->

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/jquery.dropotron.min.js"></script>
<script src="../assets/js/skel.min.js"></script>
<script src="../assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="../assets/js/main.js"></script>